@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid banner" id="home-banner">
    <div class="row h-100">
        <div class="col-10 offset-1 col-md-8 offset-md-2 align-self-center">
            <h1>
                Experienced.<br />
                Equipped.<br />
                Efficient.
            </h1>

            <p>For all your car needs.</p>

            <NavLink href="/contact" class="btn btn-primary">
                Get in touch
            </NavLink>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 align-self-center">
                <h2>Welcome To JNH Autos</h2>

                <h4>For All Your Car Needs</h4>

                <p>From classic cars to brand new wheels, air con and servicing to full engine rebuilds. Whatever your car needs JNH Autos will take care of it.</p>

                <h5>Call Us Today</h5>

                <a href="tel:07923599966" title="07923 599 966">07923 599 966</a>
            </div>

            <div class="col-12 col-md-6">
                <img src="/images/pexels-ryan-west-1719648-scaled.webp" class="d-block w-100" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="/images/pexels-jan-kopřiva-3399938-scaled.webp" class="d-block w-100" />
        </div>

        <div class="col-12 col-md-8 align-self-center">
            <h2>Our Services</h2>

            <p>With over 30 years of experience servicing, repairing and maintaining an extensive range of vehicles ranging from classic cars right up to modern high performance sports cars. We have the experience to undergo full mechanical repairs on just about any powertrain. If you require any further information or advise, please don’t hesitate to get in contact.</p>

            <div class="d-flex flex-row mb-3">
                <div class="d-flex flex-column w-50 me-3">
                    <h4>Diagnostics</h4>
                    <p>From classic engines to the very latest electronics.</p>
                </div>

                <div class="d-flex flex-column w-50 me-3">
                    <h4>Air Con</h4>
                    <p>Fully certified F-Gas trained with both R134a and R1234yf gasses.</p>
                </div>
            </div>

            <div class="d-flex flex-row mb-3">
                <div class="d-flex flex-column w-50 me-3">
                    <h4>Wheel Alignment</h4>
                    <p>With the highest accuracy 3D system.</p>
                </div>

                <div class="d-flex flex-column w-50 me-3">
                    <h4>Servicing</h4>
                    <p>From a simple oil change to a full service including automatic gearboxes.</p>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex flex-column w-50 me-3">
                    <h4>Engine Tuning</h4>
                    <p>Using the very last of the electronic tuners from the 90s.</p>
                </div>

                <div class="d-flex flex-column w-50 me-3">
                    <h4>MOT Preparation</h4>
                    <p>We collaborate with only the best local MOT centres.</p>
                </div>
            </div>
        </div>
    </div>
</div>
