@page "/services"

<div class="container-fluid banner" id="services-banner">
    <div class="row h-100">
        <div class="col-4 offset-2 align-self-center">
            <h1>
                Services
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="mb-5 fw-bold">Our Specialisation</h2>

                <p class="mb-0">
                    With over 30 years of experience servicing, repairing and maintaining an extensive range of vehicles ranging from classic cars right up to modern high performance sports cars. We have the experience to undergo full mechanical repairs on just about any powertrain. If you require any further information or advice, please don’t hesitate to get in contact.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">Diagnostics</h4>
                        <p>From classic engines to the very latest electronics.</p>
                    </div>

                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">Air Con</h4>
                        <p>Fully certified F-Gas trained with both R134a and R1234yf gasses.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">Wheel Alignment</h4>
                        <p>With the highest accuracy 3D system.</p>
                    </div>

                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">Servicing</h4>
                        <p>From a simple oil change to a full service including automatic gearboxes.</p>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">Engine Tuning</h4>
                        <p>Using the very last of the electronic tuners from the 90s.</p>
                    </div>

                    <div class="d-flex flex-column w-50 me-3">
                        <h4 class="mb-3 fw-bold">MOT Preparation</h4>
                        <p>We collaborate with only the best local MOT centres.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/images/oil-changing-the-oil-maintenance-3979023.webp" class="d-block w-100" />
        </div>

        <div class="col-6">
            <img src="/images/oil-engine-changing-the-oil-3964367.webp" class="d-block w-100" />
        </div>
    </div>
</div>
