@page "/thank-you"

<div class="container-fluid banner" id="contact-banner">
    <div class="row h-100">
        <div class="col-4 offset-2 align-self-center">
            <h1>
                Thank you
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-5 fw-bold">Looking forward to being at your service</h2>

            <p>
                Thank you for your message. An email has been sent. We will be in contact soon to discuss further.
            </p>
        </div>
    </div>
</div>